* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);
  --grayishblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--lightgray);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.component {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5%;
  width: 90%;
  border-radius: 10px;
}

.component img {
  width: 100%;
  border-radius: 10px;
}

.component .text {
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.component .text h1 {
  margin: 20px 0;
  font-weight: 700;
  color: var(--darkblue);
  font-size: 22px;
}

.component .text p {
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: 400;
  color: var(--grayishblue);
  font-size: 16px;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Outfit", sans-serif;
  font-size: 13px;
  color: var(--lightgray);
  text-align: center;
  padding: 5px 0;
  background-color: var(--darkblue);
}

.attribution a {
  text-decoration: none;
  color: var(--white);
}

@media (orientation: landscape) {
  .component {
    flex-direction: row;
    height: 70vh;
    padding: 2%;
  }

  .component img {
    width: 70%;
  }

  .component .text {
    padding: 5%;
  }

  .component .text h1 {
    font-size: 24px;
  }

  .component .text p {
    margin-top: 26px;
    font-size: 18px;
  }

  .attribution {
    font-size: 12px;
  }

  .attribution p {
    display: inline-block;
    text-align: center;
  }
}
