* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);
  --grayishblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--lightgray);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.component {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  width: 90%;
  max-width: calc(286px + 30px);
  border-radius: 20px;
}

.component img {
  width: 100%;
  max-width: 286px;
  border-radius: 15px;
}

.component .text {
  padding: 0 10px;
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.component .text h1 {
  margin: 25px 0;
  font-weight: 700;
  color: var(--darkblue);
  font-size: 22px;
}

.component .text p {
  margin-bottom: 20px;
  font-weight: 400;
  color: var(--grayishblue);
  font-size: 16px;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Outfit", sans-serif;
  font-size: 13px;
  color: var(--lightgray);
  text-align: center;
  padding: 5px 10px;
  background-color: var(--darkblue);
}

.attribution p {
  display: inline-block;
}

.attribution a {
  text-decoration: none;
  color: var(--white);
}

@media (max-width: 300px) {
  .component .text {
    padding: 0 10px;
  }

  .component .text h1 {
    font-size: 20px;
  }

  .component .text p {
    font-size: 14px;
  }

  .attribution {
    font-size: 13px;
  }
}

@media (min-width: 390px) {
  .component .text {
    padding: 0 15px;
  }

  .component .text h1 {
    margin: 28px 0;
  }

  .component .text p {
    margin-bottom: 28px;
  }

  .attribution {
    font-size: 15px;
  }
}

@media (orientation: landscape) and (max-height: 540px) {
  .component .text {
    padding: 0 15px;
  }

  .component .text h1 {
    font-size: 20px;
    margin: 16px 0;
  }

  .component .text p {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .attribution {
    font-size: 13px;
  }
}

@media (orientation: landscape) and (max-height: 532px) {
  .component {
    flex-direction: row;
    height: 70vh;
    max-width: 150vh;
    padding: 2%;
  }

  .component img {
    object-fit: cover;
    max-height: calc(70vh - 30px);
  }

  .component .text {
    margin: auto 3%;
  }

  .attribution {
    font-size: 12px;
  }
}

@media (orientation: landscape) and (max-height: 280px) {
  .component .text {
    padding: 0 5px;
  }

  .component .text h1 {
    font-size: 16px;
  }

  .component .text p {
    font-size: 14px;
  }
}
